* {
    overflow-x: hidden;
    overflow-y: hidden;
}
html, body {
    width: 100%;
    height: 100%;
    background: #1c1c1c;
    color: #6a6a6a;
}
#app {
    width: 100%;
    height: 100%;
}

#app {
}

.ball {
    position: absolute;
    width: 8px;
    height: 8px;
    border-radius: 50%;
    background: #46b900;
    vertical-align: middle;
    line-height: 100%;
    text-align: center;
    font-weight: bold;
    font-family: "Consolas", "DejaVu Sans Mono", "sans-serif", "sans", "Ubuntu Condensed", "Ubuntu";
    color: #0c0c0c;
    box-shadow: 0px 0px 2px 1px #c1ff32, 0px 0px 5px 6px #000000;
}